html,
body {
  min-height: 90vh;
  display: flex;
  flex: 1;
}

body {
  background: url(../assets/background.png) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 550px;
  background-color: #212931;
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*margin: 25% auto;*/
}

.titleContainer {
  width: 90%;
  max-width: 500px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  width: 100%;
  max-width: 500px;
  margin: 25px auto 14px auto;
  color: #ffffff;
}

.subtitle {
  font-size: 18px;
  font-weight: 50;
  width: 95%;
  max-width: 500px;
  margin: 0 auto 0 0;
  color: #9aa5b1;
}

.containerResquests {
  width: 100%;
  max-width: 400px;
  /*margin: 0 auto 25px 75px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request {
  font-size: 18px;
  font-weight: 400;
  width: 90%;
  max-width: 400px;
  margin: 20px 0 5px 0;
  color: #cbd2d9;
  text-align: left;
}

input {
  background-color: #313d49;
  border-radius: 5px;
  border: 2px solid #101418;
  color: #cbd2d9;
  padding-left: 5px;
  width: 90%;
  max-width: 400px;
  height: 25px;
}
input:hover {
  border-color: #ffc632;
}
input:focus {
  outline: none;
  border-color: #ffc632;
}

.containerFormasLogin {
  width: 100%;
  max-width: 500px;
  /*margin: 0 auto 25px 25px;*/
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  /*align-items: flex-start;*/
  justify-content: space-evenly;
}

.criarConta {
  width: 40px;
  height: 40px;
}

img {
  width: 40px;
  height: 40px;
}

button {
  margin: 0 0 16px;
  padding: 5px 50px;
  background-color: #ffc632;
  border-radius: 3px;
  border-color: #ffc632;
}

.sign {
  margin-bottom: 25px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}
